@model Hypertrophack.Models.WeeklyProgress
@inject IWeeklyTargetSets tgt

@{
    ViewData["Title"] = "Weekly Progress";
}

<h1>Weekly Progress</h1>

<table class="table text-light">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ChestSets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackSets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LegSets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmSets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoulderSets)
            </th>
        </tr>
    </thead>
    <tbody>
        <!-- DATA -->
        <tr>
            <td style="text-align: right">Sets Complete</td>
            <td>
                @Html.DisplayFor(model => model.ChestSets)
            </td>
            <td>
                @Html.DisplayFor(model => model.BackSets)
            </td>
            <td>
                @Html.DisplayFor(model => model.LegSets)
            </td>
            <td>
                @Html.DisplayFor(model => model.ArmSets)
            </td>
            <td>
                @Html.DisplayFor(model => model.ShoulderSets)
            </td>
        </tr>
        <!-- MAINT SETS PROGRESS -->
        <tr>
            <td style="text-align: right">Maintenance Progress</td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar"
                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                    style="width: @(ViewBag.ChestPctMaint)%"></div>
                </div>
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                         style="width: @(ViewBag.BackPctMaint)%"></div>
                </div>
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                         style="width: @(ViewBag.LegPctMaint)%"></div>
                </div>
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                         style="width: @(ViewBag.ArmPctMaint)%"></div>
                </div>
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                         style="width: @(ViewBag.ShoulderPctMaint)%"></div>
                </div>
            </td>
        </tr>
        <!-- MIN SETS PROGRESS -->
        <tr>
            <td style ="text-align: right">Min Effective Progress</td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                         style="width: @(ViewBag.ChestPctMin)%"></div>
                </div>
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                         style="width: @(ViewBag.BackPctMin)%"></div>
                </div>
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                         style="width: @(ViewBag.LegPctMin)%"></div>
                </div>
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                         style="width: @(ViewBag.ArmPctMin)%"></div>
                </div>
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                         style="width: @(ViewBag.ShoulderPctMin)%"></div>
                </div>
            </td>
        </tr>
        <!-- MAX SETS PROGRESS -->
        <tr>
            <td style="text-align: right">Max Recoverable Progress</td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                         style="width: @(ViewBag.ChestPctMax)%"></div>
                </div>
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                         style="width: @(ViewBag.BackPctMax)%"></div>
                </div>
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                         style="width: @(ViewBag.LegPctMax)%"></div>
                </div>
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                         style="width: @(ViewBag.ArmPctMax)%"></div>
                </div>
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                         style="width: @(ViewBag.ShoulderPctMax)%"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
