@model Hypertrophack.Models.WeeklyProgress

@{
    ViewData["Title"] = "Weekly Progress";
}

<style>
    .container {
        display: flex;
        gap: 20px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .progress {
        height: 25px;
    }
    .progress-bar {
        color: black;
    }
</style>

<h1 class="text-center">Weekly Progress</h1>
<br />
<div class="container justify-content-center">
    <div class="item">
        <div class="card" style="width: 22rem; background-color: #3d5d91;">
            <div class="card-header">
                @Html.DisplayNameFor(model => model.ChestSets)
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary">
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(ViewBag.ChestPctMaint)%">
                            <span class="countdown-text" >
                                MV: @(ViewBag.ChestPctMaint)%
                            </span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg-secondary">
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(ViewBag.ChestPctMin)%">
                            <span class="countdown-text" >
                                MEV: @(ViewBag.ChestPctMin)%
                            </span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg-secondary">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(ViewBag.ChestPctMax)%">
                            <span class="countdown-text" >
                                MRV: @(ViewBag.ChestPctMax)%
                            </span> 
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="item">
        <div class="card" style="width: 22rem; background-color: #3d5d91;">
            <div class="card-header">
                @Html.DisplayNameFor(model => model.BackSets)
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary">
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(ViewBag.BackPctMaint)%">
                            <span class="countdown-text" >
                                MV: @(ViewBag.BackPctMaint)%
                            </span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg-secondary">
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(ViewBag.BackPctMin)%">
                            <span class="countdown-text" >
                                MEV: @(ViewBag.BackPctMin)%
                            </span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg-secondary">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(ViewBag.BackPctMax)%">
                            <span class="countdown-text" >
                                MRV: @(ViewBag.BackPctMax)%
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="item">
        <div class="card" style="width: 22rem; background-color: #3d5d91;">
            <div class="card-header">
                @Html.DisplayNameFor(model => model.LegSets)
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary">
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(ViewBag.LegPctMaint)%">
                            <span class="countdown-text" >
                                MV: @(ViewBag.LegPctMaint)%
                            </span>
                         </div>
                    </div>
                </li>
                <li class="list-group-item bg-secondary">
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(ViewBag.LegPctMin)%">
                            <span class="countdown-text" >
                                MEV: @(ViewBag.LegPctMin)%
                            </span>
                         </div>
                    </div>
                </li>
                <li class="list-group-item bg-secondary">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(ViewBag.LegPctMax)%">
                            <span class="countdown-text" >
                                MRV: @(ViewBag.LegPctMax)%
                            </span>
                         </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="item">
        <div class="card" style="width: 22rem; background-color: #3d5d91;">
            <div class="card-header">
                @Html.DisplayNameFor(model => model.ArmSets)
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary">
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(ViewBag.ArmPctMaint)%">
                            <span class="countdown-text" >
                                MV: @(ViewBag.ArmPctMaint)%
                            </span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg-secondary">
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(ViewBag.ArmPctMin)%">
                            <span class="countdown-text" >
                                MEV: @(ViewBag.ArmPctMin)%
                            </span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg-secondary">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(ViewBag.ArmPctMax)%">
                            <span class="countdown-text" >
                                MRV:@(ViewBag.ArmPctMax)%
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="item">
        <div class="card" style="width: 22rem; background-color: #3d5d91;">
            <div class="card-header">
                @Html.DisplayNameFor(model => model.ShoulderSets)
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary">
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(ViewBag.ShoulderPctMaint)%">
                            <span class="countdown-text" >
                                MV: @(ViewBag.ShoulderPctMaint)%
                            </span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg-secondary">
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(ViewBag.ShoulderPctMin)%">
                            <span class="countdown-text" >
                                MEV: @(ViewBag.ShoulderPctMin)%
                            </span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg-secondary">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(ViewBag.ShoulderPctMax)%">
                            <span class="countdown-text" >
                                MRV: @(ViewBag.ShoulderPctMax)%
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
